var dbConfig = {
  synchronize: false,
}

switch (process.env.NODE_ENV) {
  case 'development':
    Object.assign(dbConfig, {
      type: 'sqlite',
      entities: ['**/*.entity.js'],
      database: 'PATH_TO_DEVELOPMENT_DATABASE',
    })
    break
  case 'test':
    Object.assign(dbConfig, {
      type: 'sqlite',
      entities: ['**/*.entity.ts'],
      database: 'PATH_TO_TEST_DATABASE',
    })
    break
  case 'production':
    break
  default:
    throw new Error('unknown environment')
}

module.exports = dbConfig
